<div
  class="w-screen flex flex-col items-center bg-cover bg-center justify-top"
  style="background-image: url('../assets/2.jpg')"
>
  <h1 class="md:text-4xl sm:text-2xl mt-5 font-bold text-[black]">ADD-USER</h1>
  <div
    class="md:w-[50vw] sm:w-[40vw] flex flex-col my-2 bg-[#00000076] border items-center px-10 py-5 rounded-[2rem] border-solid border-[black]"
  >
    <label class="text-[black] uppercase" for="Username">Username</label>
    <br />
    <input
      class="bg-transparent text-[black] w-full text-base p-2 rounded-[0.4rem] border-[0.1rem] border-solid border-[aliceblue] focus:border-[0.1rem] focus:border-solid focus:border-[#997af0]"
      type="text"
      name="Username"
      [(ngModel)]="Username"
    />
    <br />
    <label class="text-[black] uppercase" for="password">password</label>
    <br />
    <input
      class="bg-transparent text-[black] w-full text-base p-2 rounded-[0.4rem] border-[0.1rem] border-solid border-[aliceblue] focus:border-[0.1rem] focus:border-solid focus:border-[#997af0]"
      type="password"
      name="password"
      [(ngModel)]="Password"
    />
    <br />
    <label class="text-[black] uppercase" for="Email">Email</label>
    <br />
    <input
      class="bg-transparent text-[black] w-full text-base p-2 rounded-[0.4rem] border-[0.1rem] border-solid border-[aliceblue] focus:border-[0.1rem] focus:border-solid focus:border-[#997af0]"
      type="email"
      name="Email"
      [(ngModel)]="Email"
    />
    <br />
    <label class="text-[black] uppercase" for="Role">Role</label>
    <br />
    <input
      class="bg-transparent text-[black] w-full text-base p-2 rounded-[0.4rem] border-[0.1rem] border-solid border-[aliceblue] focus:border-[0.1rem] focus:border-solid focus:border-[#997af0]"
      type="text"
      name="Role"
      [(ngModel)]="Role"
    />
    <br />
    <button
      class="bg-[black] text-[white] font-[bold] cursor-pointer text-base uppercase px-8 py-4 rounded-[0.4rem] border-[none] hover:bg-[#5a4b85]"
      (click)="adduser()"
    >
      Add
    </button>
  </div>
</div>
