th { 
	background: #ffffff; 
	color: rgb(0, 0, 0); 
	font-weight: bold; 
    margin-top: 2rem;
    background: #a14444;
}
tr{
    background: #ffaaaa;
    margin:2rem;
}
.userlist{
    height: 90vh;
    width: 100%;
    background-color: #00000076;
    align-items: top;
    display: flex;
    flex-direction: column;
}