<p>addusertochannel works!</p>

<table class ="table table-hover">
    <thead>
        <tr>
            <td>Username</td>
            <td>Email</td>
            <td>Role</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td> {{user.Username}}</td>
            <td> {{user.Email}}</td>
            <td> {{user.Role}}</td>
            <td> <button (click) = "addtochannle(user)"class= "btn btn-danger">Add to Channel</button></td>
            
        </tr>
    </tbody>
</table>