<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHAT-APP</title>
  </head>
  <body>
    <div class=" h-[10vh] navbar flex flex-row items-center justify-around  md:text-2xl text-black  underline  py-2 md:py-4  bg-cover bg-center" style="background-image: url('../assets/2.jpg')">
      <div class="nav-item  font-semibold">
        <a routerLink="/profile" class=" hover:text-purple-900  ">PROFILE</a>
      </div>
      <div class="nav-item font-semibold">
        <a routerLink="/login" class=" hover:text-purple-900 ">LOGIN</a>
      </div>
      <div class="nav-item font-semibold">
        <a routerLink="/logout" class=" hover:text-purple-900 ">LOGOUT</a>
      </div>
    </div>
    <div class=" h-[90vh] bg-cover bg-center" style="background-image: url('../assets/2.jpg')">
      <router-outlet></router-outlet>
    </div>
    
    
  </body>
</html>
