<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHAT-APP</title>
  </head>
  <body>
    <div class=" h-[10vh] navbar flex flex-row items-center justify-around text-2xl bg-purple-600 text-white  py-4">
      <div class="nav-item  font-semibold">
        <a routerLink="/profile" class="nav-link">PROFILE</a>
      </div>
      <div class="nav-item font-semibold">
        <a routerLink="/login" class="nav-link">LOGIN</a>
      </div>
      <div class="nav-item font-semibold">
        <a routerLink="/logout" class="nav-link">LOGOUT</a>
      </div>
    </div>
    <div class=" h-[90vh] bg-cover bg-center" style="background-image: url('../assets/286.jpg')">
      <router-outlet></router-outlet>
    </div>
    
    
  </body>
</html>
