<div
  class="h-[90vh] w-full flex flex-col justify-top items-center my-auto bg-cover bg-center"
  style="background-image: url('../assets/2.jpg')"
>
  <h1 class="md:text-4xl sm:text-2xl my-10 font-bold text-[black]">
    GroupName: {{ Groupname }}
  </h1>
  <button (click)="addChannel()" class=" uppercase underline font-semibold hover:text-purple-400">
    Add New Channel
  </button>
  <div>
    <table class="my-10 w-[50vw] border-2 border-black items-center">
      <thead>
        <tr>
          <th class="text-black font-semibold uppercase">Channelname</th>
          
        </tr>
        
      </thead>
      <tbody>
        <tr class="border-2 border-black" *ngFor="let Channel of Channels">
          <td>{{ Channel.Channelname }}</td>
          <td>
            <button
              (click)="openchannel(Channel)"
              class="text-xs underline hover:text-purple-400"
            >
              ENTER
            </button>
          </td>
          <td>
            <button
              (click)="removechannel(Channel)"
              class="text-xs underline hover:text-purple-400"
            >
              DELETE
            </button>
          </td>
          
        
        </tr>
      </tbody>
    </table>
  </div>
</div>
