<p>groupadmin works!</p>

<li><a class="nav-link" routerLink="/addgroup">add</a></li>
<br>
<table class ="table table-hover">
    <thead>
        <tr>
            <td>GroupName</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Group of Groups">
            <td> {{Group.Groupname}}</td>
            <td> <button (click) = "removegroup(Group)"class= "btn btn-danger">Delete</button></td>
            <td> <button (click) = "opengroup(Group)"class= "btn btn-danger">open</button></td>
        </tr>
    </tbody>
</table>

