<div
  class="w-full flex flex-col justify-top items-center my-auto bg-cover bg-center"
  style="background-image: url('../assets/2.jpg')"
>
  <h1 class="md:text-4xl sm:text-2xl my-3 font-bold text-[black]">
    Channelname: {{ channelname }}
  </h1>

  <div>
    <h2 class="md:text-3xl sm:text-xl my-3 font-bold text-[black]">Messages</h2>
    <table class="my-3 w-[50vw] border-2 border-black items-center">
      <thead>
        <tr class="text-black font-semibold uppercase">
          <td>Message</td>
          <td>Sender</td>
        </tr>
      </thead>
      <tbody>
        <tr class="border-2 border-black" *ngFor="let chat of chatlist">
          <td>{{ chat.Message }}</td>
          <td>{{ chat.User.Username }}</td>
          <td>
            <button
              (click)="removemessage(chat)"
              class="text-xs underline hover:text-purple-400"
            >
              DELETE
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <label class="text-[black] font-semibold uppercase" for="Message"
        >Message</label
      >
      <br />
      <input
        class="bg-transparent text-[black] w-full text-base p-4 rounded-[0.4rem] border-[0.1rem] border-solid border-[black] focus:border-[0.1rem] focus:border-solid focus:border-[aciblue]"
        type="text"
        name="Message"
        placeholder="type here..."
        [(ngModel)]="Message"
      />
      <br />
      <button
        class="bg-[black] text-[white] font-[bold] cursor-pointer text-base uppercase px-1 py-1 my-1 rounded-[0.4rem] border-[none] hover:bg-[#5a4b85]"
        (click)="post()"
      >
        Send
      </button>
    </div>
  </div>
</div>
