.channelview{
    height: 85vh;
    width: 100%;
    background-color: #d4282876;
    align-items: top;
    justify-content: space-around;
    display: grid;
    grid-template-rows: 5% 30% 50% 10%;
}
.btn{
    display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
th { 
	background: #ffffff; 
	color: rgb(0, 0, 0); 
	font-weight: bold; 
    margin-top: 2rem;
}
tr{
    background: #a14444;
    margin:2rem;
}
input {
    background-color: transparent;
    padding: 1rem;
    border: 0.1rem solid;
    border-radius: 0.4rem;
    border-color: aliceblue;
    color: white;
    width: 60%;
    font-size: 1rem;
    &:focus {
      border: 0.1rem solid #997af0;
      outline: none;
    }
}
label {
    color: white;
    text-transform: uppercase;
  }
.submit {
    background-color: #4e0eff;
    color: white;
    padding: 0.5rem ;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    text-transform: uppercase;
    &:hover {
      background-color: #b2a4da;
    }
  }
.Msg-form{
    justify-content: center;
}